@using E_Ticaret.Entity
@model E_Ticaret.Models.OrderDetailsModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>| @Model.OrderNumber | Sipariş Detayları</h2>
            <hr />
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">
                    @TempData["message"]
                </div>
            }
            <dl class="row">

                <dt class="col-sm-3">Kullanıcı Adı</dt>
                <dd class="col-sm-9"> @Model.UserName </dd>


                <dt class="col-sm-3">Sipariş Durumu</dt>
                <dd class="col-sm-9">

                    @using (Html.BeginForm("UpdateOrderState", "Order", FormMethod.Post))
                    {
                        @Html.HiddenFor(i => i.OrderId)
                        @Html.EnumDropDownListFor(i => i.OrderState, "Sipariş Durumu Seçin", new { @class = "form-group" })
                        <button type="submit" class="btn m-t-10 m-r-5 btn-rounded btn-outline-success" style="margin-top:-5px;margin-left:10px"  value="Güncelle">Güncelle</button>
                    }


                </dd>

                <dt class="col-sm-3">Sipariş Id</dt>
                <dd class="col-sm-9">@Model.OrderId</dd>

                <dt class="col-sm-3">Sipariş Numarası</dt>
                <dd class="col-sm-9">@Model.OrderNumber</dd>

                <dt class="col-sm-3">Toplam</dt>
                <dd class="col-sm-9"><b>@Model.Total.ToString("c") </b></dd>

                <dt class="col-sm-3">Sipariş Tarihi</dt>
                <dd class="col-sm-9">@Model.Orderdate</dd>

                <dt class="col-sm-3"><br /><br />Teslim Adresi</dt>
                <dd class="col-sm-9">
                    @Model.AdresBasligi
                    <hr />
                    @Model.Adres
                    <br />
                    @Model.Sehir - @Model.Sehir - @Model.Semt
                    <br />
                    @Model.PostaKodu
                </dd>

                <dt class="col-sm-3">Ürünler</dt>
                <dd class="col-sm-9">

                    <table class="table table-bordered">

                        <thead>
                            <tr>
                                <th width="100">Ürün</th>
                                <th>Ürün Adı</th>
                                <th>Adet</th>
                                <th>Fiyat</th>
                                <th width="100"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderLines)
                            {
                                <tr>
                                    <td><img src="/Upload/@item.Image" width="70" height="80" /></td>
                                    <td>@item.ProdutName</td>
                                    <td>@item.Quantity</td>
                                    <td><b>@item.Price.ToString("c")</b></td>
                                    <td>
                                        <a href="/Home/Details/@item.ProductId" class="btn m-t-10 m-r-5 btn-rounded btn-outline-primary" target="_blank">Ürün Detayı</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </dd>
            </dl>

        </div>
    </div>
</div>

