@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<E_Ticaret.Models.AdminOrderModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">

        </div>
        <div class="d-flex justify-content-end align-items-center">
            <a class="btn btn-info d-none d-lg-block m-l-15" style="color:white;margin-left:50px">Toplam Sipariş ( @Model.Count() )</a>
        </div>
    </div>

    <center>
        @using (Html.BeginForm("Index", "Order", FormMethod.Get))
        {
            <form class="form-inline my-2 my-lg-0">
                @Html.TextBox("key", null, new { @class = "form-control", @placeholder = "Sipariş Ara ", @style = "margin-top:-15px;width:900px" })
            </form>
        }
    </center>
    <hr />
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Yearly Sales -->
    <!-- ============================================================== -->

    <div class="row">
        <!-- column -->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <div>
                            <h5 class="card-title">KATEGORİ TABLOSU</h5>
                        </div>

                    </div>
                    <div class="row mt-0">
                        <div class="col " style="left:1500px">
                            <div class="block-27">
                                <ul>
                                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="margin-left:100px">#</th>
                                <th>KULLANICI ADI</th>
                                <th>SİPARİŞ NUMARASI</th>
                                <th>SİPARİŞ TARİHİ</th>
                                <th>SİPARİŞ DURUMU</th>
                                <th>TOPLAM</th>
                                <th width="14%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td class="txt-oflo">@item.UserName</td>
                                    <td class="txt-oflo">@item.OrderNumber</td>
                                    <td class="txt-oflo">@item.Orderdate</td>
                                    <td class="txt-oflo">
                                        @if (item.OrderState == E_Ticaret.Entity.EnumOrderState.Bekleniyor)
                                        {
                                            <a href="/Category/Edit/@item.Id" class="btn m-t-10 m-r-5 btn-rounded btn-outline-dark">Bekleniyor</a>
                                        }
                                        else if (item.OrderState == E_Ticaret.Entity.EnumOrderState.Kargoda)
                                        {
                                            <a href="/Category/Edit/@item.Id" class="btn m-t-10 m-r-5 btn-rounded btn-outline-warning">Kargoda</a>
                                        }
                                        else
                                        {
                                            <a href="/Category/Edit/@item.Id" class="btn m-t-10 m-r-5 btn-rounded btn-outline-success">Tamamlandı</a>
                                        }
                                    </td>

                                    <td>@item.Total.ToString("c")</td>
                                    <td> <a href="/Order/Details/@item.Id" class="btn m-t-10 m-r-5 btn-rounded btn-outline-primary">Sipariş Detayı</a></td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>





</div>

